@import "tailwindcss";

@tailwind utilities;

.slightbg {
  background-color: #272727;
}
.heavybg {
  background-color: #202020;
}
.lightbg {
  background-color: #282828;
}
.bg-neutral-650 {
  background-color: #494949;
}
.bg-neutral-750 {
  background-color: #333333;
}

div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}